* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.heading-fs {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heading-fs-bg {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
}

.head-fs {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'PT Serif', serif;
    position: relative;
    z-index: 3;
}

.h3-fs {
    font-family: 'PT Serif', serif;
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
    margin: 30px;
    margin-bottom: 0;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

.heading {
    font-family: 'PT Serif', serif;
}

.heading-a {
    font-family: 'PT Serif', serif;
    font-size: 40px;
}

.button-a {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all .3s ease-out;
    overflow: hidden;
    outline: none;
    position: relative;
}

.button-a > p {
    position: relative;
    z-index: 2;
}

.button-a::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #FFD700 0%, #B8860B 100%);
    transition: all .3s ease-out;
}

.button-a::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #B8860B 0%, #FFD700 100%);
    transition: all .3s ease-out;
    opacity: 0;
    visibility: hidden;
}

.button-a:hover::before {
    opacity: 0;
    visibility: hidden;
}

.button-a:hover::after {
    opacity: 1;
    visibility: visible;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.navy {
    color: #1a237e;
}

.gold {
  background: linear-gradient(135deg, #e3c51a 0%, #c69823 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}