{% extends 'layout.html' %}

{% block title %}
    {{ page.page_name }} 
{% endblock %}

{% block content %}
<style>
    .heading-fs {
        background: url('{{ page.header_img.url }}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="first-slide">
    <div class="first-slide-inner">
        <div class="heading-fs">
            <h1 class="head-fs">{{ page.header }} </h1> 
            
            <div class="heading-fs-bg"></div>
        </div>

        <h3 class="h3-fs">{{ page.subheader }}</h3>
        <div class="p-fs">
            {{  page.ingo_text|safe }}
        </div>
    </div>
    
</div>
{% endblock %}