{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>{% block title %} {% endblock %} </title>

    <link rel="stylesheet" href="{% static 'cafedra/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'cafedra/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'cafedra/css/third-slide.css' %}">  
    <link rel="stylesheet" href="{% static 'cafedra/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'cafedra/css/cafedra.css' %}">
    <link rel="stylesheet" href="{% static 'cafedra/css/first-slide.css' %}">
    <link rel="stylesheet" href="{% static 'cafedra/css/style.css' %}">  

</head>
<body>  
    <style>
        .heading-fs {
            background: url('{{ page.img.url }}');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <div class="wrapper">
        <header class="header">
            <div class="header-right">
                <div class="logo-wrap">
                    <img src="https://seeklogo.com/images/A/adalet-logo-551A396F76-seeklogo.com.png" alt="" class="header-logo">
                </div> 
                
                <h1 class="heading gold">
                    Юридический факультет ЖАГУ
                </h1>
            </div>
    
            <div class="header-left">
                <nav class="nav">
                    <div class="nav-item">
                        <p class="nav-item--text">Текст какой-то</p>
                    </div>
    
                    <div class="nav-item">
                        <p class="nav-item--text">Текст какой-то</p>
                    </div>
    
                    <div class="nav-item">
                        <p class="nav-item--text">Текст какой-то</p>
                    </div>
    
                    <div class="nav-item">
                        <p class="nav-item--text">Текст какой-то</p>
                    </div>
    
                    <div class="nav-item">
                        <p class="nav-item--text">Текст какой-то</p>
                    </div>
                </nav>
            </div>
        </header>  
        {% block content %}
    
        <div class="heading-fs">
            <h1 class="head-fs">{% block header %} {% endblock %} </h1> 
            
            <div class="heading-fs-bg"></div>
        </div>
        {% block subheader %}{% endblock %}
        
        <div class="third-slide-inner">
            <div class="collector">
                {% block collector %}
                
                {% endblock %}
            </div>
        </div>
        {% endblock %}
        <footer class="footer">
            <p class="footer-text">
                Б.Осмонов атындагы ЖАМУнун <a class="gold" href="http://jagu.kg/">башкы сайты</a>
            </p>
    
            <p class="footer-text">Автор дизайна и веб-сайта: Адилет Касымбаев ЮК-1-23</p>
        </footer>
    </div>
</body>
</html>